<section class="fruit_section layout_padding-top">
    <div class="container">
        <h2 class="custom_heading">Solar Wall Light</h2>
        <!-- <p class="custom_heading-text">There are many variations of passages of Lorem Ipsum available, but the majority have</p> -->
        <div class="row layout_padding2">
            <div class="col-md-8">
                <div class="fruit_detail-box">
                    <h3>3 Lighting Modes</h3>
                    <p class="mt-4 mb-5">
                        <b>Mode 1:</b> it is in constant 50% brightness mode whole night;
                        <br />
                        <b>Mode 2:</b> becomes 100% brightness when people come for 15 seconds and returns to 20% bright mode when the people leave;
                        <br />
                        <b>Mode 3:</b> light will automatically turn on at 100% high brightness when people come for 15 seconds, and turn off when the
                        people leave.
                    </p>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <div class="fruit_img-box d-flex justify-content-center align-items-center">
                    <img src="../../../assets/img/design1.JPG" alt="" class="" width="250px" />
                </div>
            </div>
        </div>
        <div class="row layout_padding2">
            <div class="col-md-8">
                <div class="fruit_detail-box">
                    <h3>Energy Saving & Long Working Time</h3>
                    <p class="mt-4 mb-5">
                        Solar lights has built-in rechargeable battery ensures full charge at day time. You just need to place the solar panel under
                        direct sunlight at day. No pollution, no electricity cost, energy saving and eco-friendly.
                        <br />
                        High power daylight 6000K LED with 270 degree beam angle. Provide maximum illumination for large spaces.
                    </p>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <div class="fruit_img-box d-flex justify-content-center">
                    <img src="../../../assets/img/lights3.JPG" alt="" class="" width="250px" />
                </div>
            </div>
        </div>
        <div class="row layout_padding2-top layout_padding-bottom">
            <div class="col-md-8">
                <div class="fruit_detail-box">
                    <h3>Bright LED Lamp Bead</h3>
                    <p class="mt-4 mb-5">
                        High quality LED lamp beads, long service life, bright light source, wide irradiation area.
                        <br />Left and right sides can be rotated 90° horizontally and the bottom side can be rotated 90° vertically. <br />The solar
                        panel can also be adjusted to face the sun.
                    </p>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <div class="fruit_img-box d-flex justify-content-center align-items-center">
                    <img src="../../../assets/img/design2.JPG" alt="" class="" width="250px" />
                </div>
            </div>
        </div>
    </div>
</section>
