@media only screen and (max-width: 600px) {
    .contact_section {
        background-image: url();
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .contact_section {
        background-size: 915px;
    }
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: no-drop;
}
