<section class="client_section layout_padding">
    <div class="container">
        <h2 class="custom_heading">About Us</h2>
        <!-- <p class="custom_heading-text"></p> -->
        <div>
            <div class="client_container layout_padding2">
                <div>
                    <img src="../../../assets/img/lights3.JPG" width="500px" alt="" />
                </div>
                <div class="client_detail">
                    <br />
                    <!-- <h3>2 Visible</h3> -->
                    <p class="custom_heading-text" style="font-size: 26px">
                        We are a small family run business. <br />Our goal is help people to feel safe in their own homes during the night, that is
                        the reason we developed our own solar Wall Light Lamp. A convenient way to increase safety with no hassle. <br /><br />
                        <b>Telephone:</b> 07960575304 <br />
                        <b>Email:</b> info.2visible@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
