<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                    Solar Wall Light Lamp Size 7.8 x 8.4 x 4.4 inches Material ABS Solar Panel 5.5V 1.5W Battery 18650-2200mAh 3.7V Rechargeable
                    Li-ion Battery (built-in) CFeature 3 Modes motion sensor Color Temperature 6500K White Light Working Temperature -20~+50°C IP Code
                    IP67 Viewing Angle 270° Warranty 1 Years Certificate CE, ROHS
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li class="pointer"><a (click)="onRedirect('/home')">Home</a></li>
                    <li class="pointer"><a (click)="onRedirect('/aboutUs')">About Us</a></li>
                    <li class="pointer"><a (click)="onRedirect('/products')">Product</a></li>
                    <li class="pointer"><a (click)="onRedirect('/services')">Services</a></li>
                    <li class="pointer"><a (click)="onRedirect('/quote')">Get a quote</a></li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by <a href="/home">Clean Software</a>.</p>
            </div>

            <!-- <div class="col-md-3">
                <div class="social_container">
                    <div class="social-box">
                        <a href="">
                            <img src="../../../../assets/images/fb.png" alt="" />
                        </a>

                        <a href="">
                            <img src="../../../../assets/images/twitter.png" alt="" />
                        </a>
                        <a href="">
                            <img src="../../../../assets/images/linkedin.png" alt="" />
                        </a>
                        <a href="">
                            <img src="../../../../assets/images/instagram.png" alt="" />
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</footer>
