/* You can add global styles to this file, and also import other style files */
@import url('../src/css/font-awesome.min.css');

.main {
    background: #fff none repeat scroll 0 0;
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

a {
    color: #1b1b1c;
}

a:hover {
    text-decoration: none;
}

a,
a:active,
a:hover,
a:focus {
    outline: 0 none;
    text-decoration: none;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.fix {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1b1b1c;
    line-height: 1.25;
    margin: 0;
    text-transform: uppercase;
}

p:last-child {
    margin-bottom: 0;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}

.form-group {
    margin-bottom: 1rem;
}
.form-check .form-check-input {
    position: absolute;
    margin-left: 0;
    left: 0;
    top: 2px;
}

/* btn style start */

.btn-link {
    text-decoration: none;
}

.small-btn a,
.pro-add-cart a {
    background: transparent none repeat scroll 0 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 40px;
    padding: 0 30px;
    text-transform: uppercase;
}

.small-btn a:hover {
    background: #fff;
    color: #21b3f1;
}

.small-btn.icon-btn a:before,
.stroller-content .blue-btn a:first-child:before {
    content: '';
    display: inline-block;
    font-family: 'Stroke-Gap-Icons';
    font-size: 18px;
    margin-right: 7px;
    vertical-align: top;
}

.small-btn.icon-btn a {
    border-color: #1b1b1c;
    color: #1b1b1c;
    padding: 0 20px;
    text-transform: capitalize;
}

.small-btn.icon-btn a:hover,
.pro-add-cart a:hover {
    background: #21b3f1;
    color: #fff;
    border-color: #21b3f1;
}

.small-btn.blue-btn a {
    background: #21b3f1;
    color: #fff;
    border-color: #21b3f1;
    margin-right: 5px;
}

.small-btn.blue-btn a:hover {
    background: #fff;
    color: #21b3f1;
    border-color: #21b3f1;
}

.small-btn.blue-btn.dark-blue-btn a {
    background: #128aed;
}

.small-btn.blue-btn.dark-blue-btn a:hover {
    color: #128aed;
    background: transparent;
    border-color: #128aed;
}

.icon-btn.orange-btn a {
    background: #ee733d;
    color: #fff;
    border-color: #ee733d;
}

.icon-btn.orange-btn a:hover {
    background: transparent;
    color: #ee733d;
    border-color: #ee733d;
}

/* btn style end */
.tooltip-inner {
    padding: 2px 12px 6px;
    font-size: 14px;
}

.same-header {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 26px;
    margin-top: 0;
    text-transform: inherit;
}

.same-header.fix-width {
    max-width: 466px;
}

.same-header span {
    color: #21b3f1;
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title > span {
    display: block;
    font-family: g-italic;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -4px;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}

.section-title-five.section-gutter {
    margin-bottom: 0;
}

.section-title-three h2 {
    color: #fff;
}

.section-title-three h2 span,
.section-title-four h2 span,
.same-header-two span {
    color: #128aed;
}

.section-title-five h2 {
    font-weight: 400;
    text-transform: capitalize;
}

.section-title-five h2 span {
    font-weight: 600;
}

.section-title.section-title-five h2::after,
.section-title.section-title-five h2::before {
    background: #ee733d;
}

.section-title h2::after,
.section-title h2::before {
    background: #21b3f1 none repeat scroll 0 0;
    bottom: 0;
    content: '';
    height: 1px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 40px;
}

.sample-style h2::after,
.sample-style h2::before {
    background: #128aed;
}

.section-title h2::before {
    bottom: 6px;
    margin-left: -30px;
}

.section-title.section-title-two > span {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25em;
    margin-bottom: 8px;
    text-transform: uppercase;
    margin-top: -8px;
}
.teach-spech .sample-style > span {
    color: #eee;
}
/* all background bg */
.bg-image-1 {
    background-image: url(../src/assets/img/slider/s1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image-2 {
    background-image: url(../src/assets/img//slider/s2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image-3 {
    background-image: url(../src/assets/img//slider/s3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image-4 {
    background-image: url(../src/assets/img//slider/s4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image-5 {
    background-image: url(../src/assets/img//banner/b2.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.bg-image-6 {
    background-image: url(../src/assets/img//banner/b6.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.bg-image-7 {
    background-image: url(../src/assets/img//slider/s5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image-8 {
    background-image: url(../src/assets/img//slider/s6.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image-9 {
    background-image: url(../src/assets/img//banner/b9.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #3b5367;
}

.bg-image-10 {
    background-image: url(../src/assets/img//slider/s7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image-11 {
    background-image: url(../src/assets/img//slider/s8.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image-12 {
    background-image: url(../src/assets/img//banner/b12.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #3b5367;
}
